@model IEnumerable <TheProyecto.Models.Report_Cliente_Compra>

@{
    ViewBag.Title = "Report_Cliente_Compra";
}

<h2>Report_Cliente_Compra</h2>

<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Documento Cliente</th>
        <th>Fecha Compra</th>
        <th>Total</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombreCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.documentoCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.fechaCompra)</td>
            <td>@Html.DisplayFor(modelItem => item.totalCompra)</td>
        </tr>
    }
</table>