
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Sample text


</p>

<table>
    <tr>
        <td>element</td>
        <td>element</td>
    </tr>
</table>

<button>
    Boton
</button>

<input type="text" />
